.reqErrMsg,
.maxLength8Err,
.max8Err,
.minMaxErr,
.lettersOnlyMsg,
.numbersOnlyMsg,
.reqIfRadioChkdErrMsg,
.invalidEmailMsg {
    color: #ff0000;
}

.invalidField {
    background-color: pink;
    border: 1px solid #ff0000;
}
