.reqErrMsg,
.reqMinMaxErr,
.maxLength8Err,
.max8Err,
.minMaxErr,
.lettersOnlyMsg,
.numbersOnlyMsg,
.reqIfRadioChkdErr,
.invalidEmailMsg {
    color: #FF0000;
    font-weight: bold;
}

.invalidField {
    background-color: #FFB6C1;
    border: 1px solid #FF0000;
}

.validField {
    background-color: #98FB98;
    border: 1px solid #98FB98;
}
